.footer{
    bottom: 0;
    background-color: rgb(31, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:auto;
}
.footleft{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
a{
    color: aliceblue;
    text-decoration: none;
    padding: 10%;
}
i{
    font-size: 200%;
}
.footer a:hover{
    color: aqua;
    transform: scale(1.5);
}