.bgv{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height:100%;
    object-fit: cover;
}









/* .bgv{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    object-fit: cover;
}

@media screen and (max-width:480px) {

    .bgv{
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        object-fit: cover;
    }
    


}

@media screen and (min-width:482px) and (max-width:768px) {
    
    .bgv{
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        object-fit: cover;
    }
    
}

 */
