body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Alkatra', cursive,
    'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:black;
  letter-spacing: 1.5px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
